<!DOCTYPE html>
<html>
<head>
  <script
    type="text/javascript"
    src='https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js'
    referrerpolicy="origin">
  </script>
  <script type="text/javascript">
  tinymce.init({
    selector: '#myTextarea',
    width: 600,
    height: 300,
    plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help'
    ],
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | ' +
      'forecolor backcolor emoticons | help',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
    },
    menubar: 'favs file edit view insert format tools table help',
    content_css: 'css/content.css'
  });
  </script>
</head>

<body>
  <p>QUESTIONS</p>
  <form class="" action="/question" method="post">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="postqTitle">
      <label>Body</label>
      <!-- <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea> -->
      <textarea id="myTextarea"  class="form-control" name="postqBody" ></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Post</button>

  </form>

</body>
</html>
