{% extends "base.html" %}

{% load i18n %}



{% block content %}
<section class="LoginForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="LoginFormTitle">Reset Password</h3><!-- /.LoginFormTitle -->
                <form method="POST" class="LoginFormForm">
                    {% csrf_token %}
                    <div class="LoginFormField">
                        {{ form.email.errors }}
                        <i class="fa fa-envelope-o"></i>
                        <label>Enter your Email </label>
                        {{ form.email }}                       
                    </div><!-- /.LoginFormField -->
                    <div class="LoginFormBottom">
                        <button type="submit" class="themeButton LoginFormBtn">Next</button>
                    </div><!-- /.LoginFormBottom -->
                </form><!-- /.LoginFormForm -->
                <a href="{% url 'accounts:log_in' %}">Login Instead</a>

            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.LoginForm -->

{% endblock content%}








