<footer id="footer" class="bg-one">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="500ms">
            <div class="col-lg-12">

                <!-- Footer Social Links -->
                <div class="social-icon">
                    <ul class="list-inline">
                        <li><a href="https://facebook.com/themefisher"><i class="tf-ion-social-facebook"></i></a></li>
                        <li><a href="https://twitter.com/themefisher"><i class="tf-ion-social-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCx9qVW8VF0LmTi4OF2F8YdA"><i class="tf-ion-social-youtube"></i></a></li>
                        <li><a href="https://dribbble.com/themefisher"><i class="tf-ion-social-dribbble-outline"></i></a></li>
                        <li><a href="https://pinterest.com/themefisher"><i class="tf-ion-social-pinterest-outline"></i></a></li>
                    </ul>
                </div>
                <!--/. End Footer Social Links -->

                <!-- copyright -->
                <div class="copyright text-center">
                    <a href="index.html">
                        <!-- <img src="images/logo-meghna.png" alt="Meghna" />  -->
                        <svg width="40px" height="40px" viewBox="0 0 45 44" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Group" transform="translate(2.000000, 2.000000)" stroke="#57CBCC"
                                    stroke-width="3">
                                    <ellipse id="Oval" cx="20.5" cy="20" rx="20.5" ry="20"></ellipse>
                                    <path d="M6,7 L33.5,34.5" id="Line-2" stroke-linecap="square"></path>
                                    <path d="M21,20 L34,7" id="Line-3" stroke-linecap="square"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <br />

                </div>
                <!-- /copyright -->

            </div> <!-- end col lg 12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</footer> <!-- end footer -->


        <!-- 
        Essential Scripts
        =====================================-->
        <!-- For Dark Mode Togg;le -->
        
        <!-- Main jQuery -->
        <script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.1 -->
        <script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Slick Carousel -->
        <script type="text/javascript" src="plugins/slick-carousel/slick/slick.min.js"></script>
        <!-- Portfolio Filtering -->
        <script type="text/javascript" src="plugins/filterzr/jquery.filterizr.min.js"></script>
        <!-- Smooth Scroll -->
        <script type="text/javascript" src="plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
        <!-- Magnific popup -->
        <script type="text/javascript" src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <!-- Google Map API -->
        <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
        <!-- Sticky Nav -->
        <script type="text/javascript" src="plugins/Sticky/jquery.sticky.js"></script>
        <!-- Number Counter Script -->
        <script type="text/javascript" src="plugins/count-to/jquery.countTo.js"></script>
        <!-- wow.min Script -->
        <script type="text/javascript" src="plugins/wow/dist/wow.min.js"></script>
        <!-- Custom js -->
        <script type="text/javascript" src="js/script.js"></script>
        <script>const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

        function switchTheme(e) {
            console.log("aagaye babbe function ch")
            if (e.target.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark'); //add this
            }
            else {
                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light'); //add this
            }    
        }

            
            toggleSwitch.addEventListener('change', switchTheme, false);</script>
    </body>
</html>