<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <a href="#"><img src="img/logo.png" alt=""></a>
                    <p>All rights reserved © 2015</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<!-- load Js -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/lightbox.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/html5lightbox.js"></script>
<script src="js/jquery.mixitup.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.scrollUp.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/main.js"></script>
</body>
</html>