<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Themelight</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- google fonts -->

		<!-- Css link -->
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="/public/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/css/owl.carousel.css">
		<link rel="stylesheet" href="/public/css/owl.transitions.css">
		<link rel="stylesheet" href="/public/css/animate.min.css">
		<link rel="stylesheet" href="/public/css/lightbox.css">
		<link rel="stylesheet" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/css/preloader.css">
		<link rel="stylesheet" href="/public/css/image.css">
		<link rel="stylesheet" href="/public/css/icon.css">
		<link rel="stylesheet" href="/public/css/style.css">
		<link rel="stylesheet" href="/public/css/responsive.css">

	</head>
	<body id="top">


        <header id="navigation" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body"><img src="/img/logo.png" height="40" width="164" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">s
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#features">Service</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#pricing-table">Price</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#testimonial">Testimonial</a></li>
                        <li><a href="#contact-form">Contact</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->

            </div>
        </header>
