{% extends "base.html" %}

{% load static %}
{% block content %}

{% for i in context %}
<section class="section" style="color: var(--font-color) !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 style="font-size: 10rem;">{{ i.name }}</h1>
                <ul style="font-size: larger; font-weight: bold;" class="list-inline mb-50">
                    <li class="list-inline-item">{{ i.author }}</li>
                    <li class="list-inline-item">{{ i.date }}</li>
                </ul>
                <img class="img-fluid mb-50"  style="width: 100%; height: 100%;" src="{{ i.images.url }}" alt=" RealDEvils TechCommunity Ludhiana Digital blog-image">
            </div>
            <div class="col-lg-12" style="max-width: 90%; background-color: #c3edea; color:black !important">

                {{ i.content | safe }}
            </div>
        </div>
    </div>
</section>
{% endfor %}

<!-- end Contact Area
		========================================== -->


		

        {% endblock content%}
